body,html{
height: 100%;
}
.contenido {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
  animation-name: slidein;
  animation-duration: 2s;
  
}

.contenidocost {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 90%;
  text-align: center;
  color: #000;
}

.header{
  background-image: url("../img/games.webp");
  min-height: 95%;
  /* opacity: 90%; */
}
.middle{
  background-image: url("../img/gamer.webp");
  min-height: 120%;
}
.foot{
  background-image: url("../img/bata.jpg");
  min-height: 100%;
}
.intro{
  min-height: auto;
}

.header,.intro,.middle,.foot,.estandar{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenido span.border {
  /* background:linear-gradient(to left,rgb(59, 59, 59),blue); */
  color: #fff;
  padding: 18px;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: 'Kodchasan', sans-serif;
  border-radius: 20px;
}
.contenidocost span.borderst {
  color: #fff;
  padding: 18px;
  font-size: 30px;
  letter-spacing:20px;
  font-family: 'Poiret One', bold;
}

.intro{
	color:gray;
  background-color:white;
	text-align:center;
	padding:50px 80px;
	text-align: center;
  font-family: 'Poiret One', bold;
  font-size: 17px;
  
}
.estandar{

	text-align:center;
	padding:50px 80px;
	text-align: justify;
 	font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color:gray;
}
.triana{
	color:#ddd;
	background-color:#282E34;
	text-align:center;
	padding:50px 80px;
	text-align: center;
 	font-family: 'Poiret One', cursive;
 	font-size: 25px;
}
.footer{
	color:white;
	background-color:#282E34;
	text-align:center;
	padding:50px 60px;
	text-align: center;
 	font-family: 'Poiret One', cursive;
 	font-size: 15px;
}
.firma{
    font-family: 'Poiret One', cursive;
    color:rgb(129, 185, 129);
  }
/*.gmail{
	color:#e2540a;
}*/
.fok{
 color:#0c67bd;
 font-size: 20px; 
}
.fok2{
 color:gray;
 font-size: 20px; 
}
.ftel{
 color:green;
 font-size: 20px; 
}
.fmail{
 color:red;
 font-size: 20px; 
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 1s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 4;
  }
}
